language: java

jdk:
  - oraclejdk8

branches:
  except:
    - gh-pages

notifications:
  email: false

install: true

sudo: required

script: gradle/build.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/